.container {
    position: relative;
    width: auto;
    height: auto ;
    margin: 10px;
    margin-left: 40px;
    box-sizing: border-box;
    display: inline-block;
}

.container  .imgBox img{
    width: 600px ;
    height: auto ;
    transition: transform 1s;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.container  img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.container  .details{
    position: absolute;
    top: 50px;
    left: 40px;
    transition: transform 1s;
}
 .imgBox:hover .details{
    transform: translate(-30px,-30px);
    
}
.container  .details .avatar{  
    width: 40px ;
    height: 40px ;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    cursor: pointer;
}
.container .details .name{
    padding-left: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.container  .details .status{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    width: auto;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px black;
   
}
#box-button{
overflow: hidden;
opacity: 0;
bottom: -10%;
}
// .imgBox .boxButton .btn{
//     margin-left: 47px;
// }

.container .imgBox:hover #box-button{
    bottom: 0%; 
    opacity: 0.9;   
    transition-duration: 1s;
}
.container #box-button .btn i{
    outline: none;
    color: white;
    font-size: 30px;
    // padding-right: 30px;
}
.box{
    position: absolute;
    left: 630px;
    top: 50%;
    border: 1px solid black;
    font-size: 20px;
}