<div class="container">
    <div class="imgBox d-flex justify-content-center">
        <div class="row position-relative d-flex justify-content-center align-items-end ">
            <div class="col overflow-hidden">
                <img src="https://imgpack.herokuapp.com/{{client.source}}" alt="pic" class="img">
            </div>
            <div class="row position-absolute " id="box-button"  >
                <div class="col">
                    <button class="btn btn-primary">
                        <i class="fas fa-star "></i>
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success">
                        <i class="far fa-comment-alt"></i>
        
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-info">
                        <i class="fas fa-share"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="details">
            <div class="AvatarAndName">
                <img src="https://imgpack.herokuapp.com/{{client.author.avatar}}" alt="avatar" class="avatar">
                <span class="name ">{{client.author.username}}</span>

            </div>
            <p class="status">{{client.description}}</p>
        </div>

    </div>

</div>