<div class="container">
    <div class="box">
        <div class="imgBox">
            <img src="{{clients.src}}" alt="pic" class="img">
        </div>
        <div class="details">
            <div class="AvatarAndName">
                <img src="{{clients.avatar}}" alt="avatar" class="avatar">
                <span class="name ">{{clients.name}}</span>

            </div>
            <p class="status">{{clients.status}}</p>
        </div>
        <div class="boxButton">
            <button  class="btn">
                <!-- <i class="far fa-star"></i> -->
                <i class="fas fa-star "></i>
            </button>
            <button  class="btn">
                <i class="far fa-comment-alt"></i>
                
            </button>
            <button  class="btn">
                <i class="fas fa-share"></i>
            </button>
        </div>
    </div>
</div>
