<div class="container">
    <div class="imgBox d-flex justify-content-center">
        <div class="row position-relative d-flex justify-content-center align-items-end ">
            <div class="col overflow-hidden">
                <img src="{{client.source}}" alt="pic" class="img">
            </div>
            <!-- <div class="row position-absolute " id="box-button"  >
                <div class="col">
                    <button class="btn btn-primary">
                        <i class="fas fa-star "></i>
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success">
                        <i class="far fa-comment-alt"></i>
        
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-info">
                        <i class="fas fa-share"></i>
                    </button>
                </div>
            </div> -->
        </div>

        <div class="details">
            <div class="AvatarAndName" (click)=" onSelect(client)">
                <img src="{{client.author.avatar}}" alt="avatar" class="avatar">
                <span class="name ">{{client.author.username}}</span>

            </div>
            <p class="status">{{client.description}}</p>
        </div>
        <div *ngIf="client['author']._id != idPersonal">

            <!-- <ng-container  *ngIf="idLibrary.includes(client._id); else elseTemplate">
               
                    <button class="box" id="unSave" (click)="onUnSave(client._id)">
                        {{unsaveV}}
                    </button>
         
            </ng-container>
            <ng-template #elseTemplate>
             
                    <button class="box" id="save" (click)="onSave(client._id)">
                        {{saveV}}
                    </button>
             
            </ng-template> -->

            <button type="button" class="btn btn-primary" (click)="changeSave(client._id, saveV)" > {{saveV}}</button>

        </div>
    </div>

</div>