<nav class="navbar navbar-light bg-light sticky-top">


    <div class="container-fluid  ">
        <div class="row justify-content-center w-100">
            <div class="col-sm-6 d-flex justify-content-end">
                fqejhfqjefweqjfqhwfjiqwefjwqefeqfjqefbeqjfb
            </div>
            
            <div class="col-sm-6 d-flex justify-content-center">
                <button type="button " class="btn btn-primary" data-toggle="button" aria-pressed="false"
                    autocomplete="off">Button</button>
            </div>
            <!-- <div class="col-sm-4 ">
                One of three columns
            </div> -->
        </div>
    </div>



</nav>