.navigation {
  background-color:#e9e9ff;
  ;
}

#search-icon {
  margin-left: -45px;
  margin-right: 10px;
  border: rgba(128, 128, 128, 0.25) solid 2px;
  background-color: #e9e9ff;
  padding: 8px;
}

#logo {
  width: 50px;
  height: 50px;
}

.profileAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#username {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}
#profile {
  background-color: white;
}

#profile:hover {
  background-color: gray;
}

.btn-primary {
  background-color: #00ACEE;
}

.btn-primary:hover {
  background-color: #007bff;
}



.search-bar{
  position: absolute;
  width: 700px;
  top: 20px;
  left: 500px;
}
.search-bar ul{
  padding-left: 0;
  // margin-top: 2px;
  width: 300px;
}
.search-bar ul li{
  list-style: none;
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding-left: 2px;
  border: 1px solid;
  box-shadow: 1px 1px #888888;
  width: 525px;
  // border-bottom: 3px solid rgb(56, 56, 56);
  // border-right: 3px solid rgb(56, 56, 56);
  // border-left: 3px solid rgb(56, 56, 56);
}

.search-bar ul li:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(61, 61, 61);
}
.search-bar ul li p{
   margin-left: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 15px;
}
.dropdown{
  position: absolute;
  top: 20px;
  left: 1030px;
}
#avatar{
  width: 36px;
  height: 36px;
  object-fit: cover;
}