.navbar {
  background-color: lightgreen;
}

#search-icon {
  margin-left: -45px;
  margin-right: 10px;
  border: rgba(128, 128, 128, 0.5) solid 2px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 8px;
}

#logo {
  width: 50px;
  height: 50px;
}