<nav class="navbar navbar-expand-lg navbar-light fixed-top navigation">
  <div class="container-fluid justify-content-between">
    <div class="row w-100 ">
      <div class="col-lg-2 ml-0 d-flex p-0">
        <div class="logo">
          <a class="navbar-brand" href="http://localhost:4200/homepage/home">
            <img id="logo" src="../../../../assets/Logo/logo.png" alt="Logo">
            <span class="sr-only sr-only-focusable">Home</span></a>
        </div>
      </div>

      <div class="col-lg-8 d-flex p-0">
        <form class="form-inline w-100 my-2 my-lg-0">
          <!-- <i id="search-icon" class="fas fa-search"></i>
          <button class="btn btn-primary w-auto my-2 my-sm-0">Search</button> -->
        </form>
      </div>

      <div class="search-bar">
        <input [(ngModel)]="searchText" #searchbar (keyup)="fetchSeries($event)" 
          class="form-control w-75 mr-sm-2" type="text" placeholder="Search" aria-label="Search" />

        <ul>
          <li *ngFor="let show of searchResult">
            <ng-container *ngIf="value; else elseTemplate">
              <p (click)="onSelect(show)"><img class="rounded-circle" id="avatar" src="{{show.avatar}}" > {{ show.username }}</p>
            </ng-container>
            <ng-template #elseTemplate>
              <p (click)="onSelect1(show)"> {{ show.name }}</p>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{dropDown}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a (click)="change1()" class="dropdown-item">Users</a>
          <a (click)="change2()" class="dropdown-item">Topics</a>
        </div>
      </div>

      <div class="col-lg-2 d-flex p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-0" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2 my-auto">
              <a [class]="isHover['upload']?mouseHoverClasses['upload']:mouseNormalClasses['upload']" href="#"
                (mouseover)="ChangeMouseStatus('upload')" (mouseout)="ChangeMouseStatus('upload')"></a>
            </li>
            <li class="nav-item mx-2 my-auto">
              <a [class]="isHover['notification']?mouseHoverClasses['notification']:mouseNormalClasses['notification']"
                href="#" (mouseover)="ChangeMouseStatus('notification')"
                (mouseout)="ChangeMouseStatus('notification')"></a>
            </li>
            <li class="nav-item mx-2 my-auto rounded-pill p-0" id="profile">
              <a class="nav-link p-0" href="#">
                <div class="row">
                  <div class="col-5">
                    <img class="profileAvatar rounded-circle" [src]="me.users['avatar']" alt="avatar" />
                  </div>
                  <div class="col-6 my-auto">
                    <span id="username">{{me.users['username']}}</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
  <button class="btn btn-primary" type="button" (click)="isCollapse = !isCollapse" aria-expanded="false"
    aria-controls="collapseExample">
    Button with click event
  </button>
</p>
<div class="collapse" id="collapseExample" [ngbCollapse]="isCollapse">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> -->