<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid justify-content-between">
    <div class="row w-100">
      <div class="col-lg-2 ml-0 d-flex">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img id="logo" src="../../../../assets/Logo/logo.png" alt="Logo">
            <span class="sr-only sr-only-focusable">Home</span></a>
        </div>
      </div>

      <div class="col-lg-8 d-flex">
        <form class="form-inline w-100 my-2 my-lg-0">
          <input class="form-control w-75 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <i id="search-icon" class="fas fa-search"></i>
          <button class="btn btn-primary w-auto my-2 my-sm-0">Search</button>
        </form>
      </div>

      <div class="col-lg-2 d-flex">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
  <button class="btn btn-primary" type="button" (click)="isCollapse = !isCollapse" aria-expanded="false"
    aria-controls="collapseExample">
    Button with click event
  </button>
</p>
<div class="collapse" id="collapseExample" [ngbCollapse]="isCollapse">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> -->
