<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle" (click)="open()" >
                    <i class="fas fa-bars"  ></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href=""><img src="../../../assets/Logo/logo.png" id="logo" alt=""></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">W</span>elcome
            </h2>
            <h1 class="headline">IMG Pack</h1>
            <div class="headline-description">
                <div class="separator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5>Ready to be opened</h5>
                    <a href="#" class="btn cta-btn"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

</body>
</html>