<div class="security h-100 px-0 text-center">
  <h1>Security</h1>
  <div class="changepass">
    <h2>Change your Password</h2>
    <div class="formchange">
      <p>Old Password</p>
      <input placeholder="**********" type="password">

      <p>New Password</p>
      <input placeholder="**********" type="password">

      <p>Comfirm New Password</p>
      <input placeholder="**********" type="password">
      <div class="btn">
        <button class="done">Done</button>
        <button>Cancel</button>
      </div>
    </div>
    <!-- button -->

  </div>
</div>
