.text-collection {
    color: black;
    font-weight: 500;
}

.collection {
    background-color: rgb(231, 231, 231);
    border: black solid 7px;
    border-radius: 20px;
}

.collection:hover {
    border-width: 15px;
    background-color: rgb(122, 122, 122);
    opacity: 0.8;
}

img {
    border-radius: 15px;
}

.btn {
    position: absolute;
    top: 8px;
    left: 280px;
    opacity: 0;
}

.btn:hover {
    opacity: 1;
}