<div class="container-fluid h-100 w-100" id="layout-upload">
  <div class="row h-10">
    <app-navbar></app-navbar>
  </div>
  <div class="formupload h-90 w-50 ">
    <div class="row">
      <div class="frameupload col-md-6">
        <div class="inframe" id="mainFrame">
          <i type="button" id="cancelUpload" (click)="onCancelUpload()" class="fas fa-window-close fa-2x"></i>
          <img style="width: 334px; height: auto;" [src]="currentImageUpload" alt="">
          <div id='uploadFrame'>

            <div class="form-group">
              <!-- <label for="file">Choose File</label> -->
              <label type="button" for="file-upload">
                <div style="color: #00ACEE;" class="spaceupload fas fa-upload fa-3x">
                  <p style="font-size: 15px; font-weight: 100; color: #00ACEE;">Kéo thả hoặc nhấp vào đây để tải lên
                  </p>
                </div>
              </label>
              <!-- <input type="file"
                     id="file"
                     (change)="handleFileInput($event.target.files)"> -->
              <input id="file-upload" hidden type="file" name="fileUpload" (change)="onSelectImage($event)" />
            </div>
            <p
              style="font-size: 13px;position: absolute; bottom: 0px; left: 0px;padding:0px 25px 15px 25px;text-align: center;">
              Khuyến nghị:
              Sử dụng tập tin .jpg
              chất lượng cao có kích thước dưới 20MB</p>
          </div>
        </div>
      </div>
      <div class="info col-md-5">
        <div class="row">
          <input #descriptionValue class="input description" placeholder="Description">

          <div class="row align-items-center justify-content-between">
            <div class="col-7">
              <input #topicValue class="input topic" placeholder="Topic">
            </div>
            <div class="col-2 mr-4">
              <button class="addTopic btn-primary fas fa-plus fa-2x" (click)="AddTopic()"></button>
            </div>
          </div>

          <div class="row align-items-center justify-content-between mt-2">
            <div class="col-7">
              <select #collectionValue name="collection" class="input add">
                <option value="" disabled selected>Choose one your collection</option>
                <option *ngFor="let l of collections" value="{{l._id}}">{{l.name}}</option>
              </select>
            </div>
            <div class="col-2 mr-4">
              <button style="width: 45px;" class="addTopic btn-primary fas fa-plus fa-1x" data-toggle="modal"
                data-target="#addCollectionModal"> <i class="fas fa-images fa-1x"></i>
              </button>
            </div>
          </div>

          <!-- <div class="row justify-content-between align-items-center mt-5 ml-1">
              <div class="col-7">
                <select #collection ngModel name="collection">
                  <option value="" disabled selected>Choose collection</option>
                  <option *ngFor="let l of collections" value="{{l.collection._id}}">{{l.collection.name}}</option>
                </select>
              </div>
              <div class="col-3">
                <button class="addTopic btn-primary fas fa-plus fa-2x" (click)="AddTopic()"></button>
              </div>
            </div> -->
        </div>
        <br />
        <h5>Your Image's Topic</h5>
        <div class="row">
          <ul class="listTopic">
            <li *ngFor="let topic of topicList" [type]="topic">{{topic}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="post">
      <button (click)="Post()" class="btnpost">POST</button>
    </div>
  </div>
  <!-- <img *ngFor="let img of imgs" [src]="" alt=""> -->
  <!--Modal-->
  <div class="modal fade bd-example-modal-lg" id="addCollectionModal" tabindex="-1" role="dialog"
    aria-labelledby="myModelAddCollection" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Collections</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <span>TITLE: <input type="text" #title id="title" class="w-100"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="AddCollection()" data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>