.container-fluid {
  margin-top: 100px;
}

.formupload {
  background-color: #efefef;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.frameupload {
  background-color: #ffffff;
  height: 500px;
  margin: 25px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inframe {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 3px solid salmon;
  border-radius: 10px;
}

.spaceupload {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 0px;
}

.title, .description {
  width: 100%;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.input {
  border: 2px solid #00ACEE;
  outline: none;
  border-radius: 10px;
}
.input:focus {
  border-color: #00ACEE;
}

.inputtext {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  border: 0px;
}

.topic {
  height: 50px;
  width: 270px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  background-color: #ffffff;
  margin: 10px;
}

.add {
  font-size: 15px;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid #00ACEE;
  outline: none;
  border-radius: 10px;
  height: 50px;
  margin-left: 10px;
  width: 270px;
}
.post {
  padding: px;
  width: 100%;
}

.btn {
  outline: none;
}

.btnpost {
  width: 100%;
  font-size: 30px;
  border: 0px;
  border-radius: 20px;
  background-color: #00ACEE;
  color: white;
  font-weight: 500;
  outline: none;
}

.btnpost:hover {
  background-color: #007bff;
}
 .listTopic {
   height: 220px;
   margin: 10px;
 }

 #cancelUpload {
   color: rgb(255, 0, 43);
  float: right;
  }