@import "abstracts/variables";
@import "abstracts/breakpoints";

// ::ng-deep {

// }

.alert-primary {
  background-color: $purple;

  @include rwd(600px) {
    background-color: $red;
  }

  @include rwd(800px) {
    background-color: $blue;
  }
}

.color-primary {
  background-color: #00ACEE;
  color: #00ACEE;
}