<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <img src="https://bizweb.dktcdn.net/thumb/grande/100/181/456/files/nhung-kieu-that-lung-nam-doc-la-decao-su-dung-4.jpg?v=1516693229818"
            alt="">
        <form action="">
            <input type="text" placeholder="Comment..." class="text" aria-rowcount="5" id="comment">
            <button type="button" class="btn btn-primary btn-sm" onclick="add()">Send</button>
        </form>
    </div>
    <ul class="list"></ul>
</div>
