.bg-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0 ,0 ,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;

}
.modal-content .btn{
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  
}
.modal-content .text{
    width: 300px;
    margin-top: 245px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 20px;
    border-radius: 20px;
    outline: none;
    text-align: left;
    border:  solid rgb(163, 158, 158) ;
}
.modal-content .text:focus{
    background-color: rgb(216, 214, 214);
    border: 3px solid #555;
    
}
img{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px 20px;
    bottom: 15px;
    left: 20px;
}
.close{
    position: absolute;
    color: white;
    font-size: 32px;
    width: 40px;
    height: 40px;
    padding-left: 2px;
   
    right: -10px;
    top: -15px;
    background-color: rgb(245, 83, 105);
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
    transform: rotate(45deg);
}