.right-sidebar{
    padding: 0px;
    margin: 0px;
    position: fixed;
    border-left:  solid rgb(235 238 240);
    border-width: 2px;
    height: 500px;
    background-color: rgb(247, 247, 247);
}
#sidebar1{
    font-size: 15px;
    padding-right: 60px;
    max-height: 230px;
    overflow-y: scroll;
    margin-left: 60px;
}
.sidebar a {
    margin-left: 50px;;
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
  }
.sidebar a:hover{
    color: #064579;
}
.info{
    padding: 5px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 1px;
    margin-top: 20px;
    border-color: white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    transition: transform 0.5s;
}
.info:hover{
    transform: scale(1.1);
    
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

h5{
    margin-left: 110px;
}
h4{
    margin-left: 130px;
}
hr{
    width: 80%;
    margin-left: 50px;
    border: 1px solid black;
}
.topic{
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 1px;
    padding:5px;
    border-style: solid ;
    border-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: black;
    text-decoration: none;
}
.topic:hover{
    color: white;
    background-color: gray;
    border-color:gray;
}
#box{
    margin-left: 70px;
    margin-top: 20px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    column-gap: 5px;
    border-radius: 20px;
    background-color: rgb(247 249 250);
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 0px;
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #929090; 
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px rgb(168, 168, 168); 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107); 
  
  }