<div class="right-sidebar h-100 ">

    <h5>Trending Creator</h5>

    <div class="sidebar " id="sidebar1">
        <a (click)="onSelect(user)" *ngFor="let user of datas" class="info" ><img class="rounded-circle"
                src="{{user['avatar']}}" alt="">{{user['username']}}</a>
    </div>
    <br><br>
    <hr>
    <h4>Top Topic</h4>
    <div class="box " id="box">
        <a class="topic" href="">Beach</a>
        <a class="topic" href="">Mountain</a>
        <a class="topic" href="">Sea</a>
        <a class="topic" href="">Beach</a>
        <a class="topic" href="">LienMinhHuyenThoai</a>
        <a class="topic" href="">Moutain</a>
        <a class="topic" href="">Sport</a>
        <a class="topic" href="">Soccer</a>
        <a class="topic" href="">Game</a>
        <a class="topic" href="">Summer</a>
        
    </div>