<div class="right-sidebar h-100 px-0 mx-0">

  <h5>Trending Creator</h5>

  <div class="sidebar " id="sidebar1">
    <a (click)="onSelect(user)" *ngFor="let user of datas" class="info"><img class="rounded-circle"
        src="{{user['avatar']}}" alt="">{{user['username']}}</a>
  </div>
  <br><br>
  <hr>
  <h4>Top Topic</h4>
  <div class="box " id="box">
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d42">Beach</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d51">Mountain</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d62">Sea</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d74">LienMinhHuyenThoai</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d51">Moutain</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d82">Sport</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777d92">Soccer</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777da2">Game</a>
    <a class="topic" href="https://imgpackweb.web.app/homepage/topic?id=5fe829398b524003b5777db1">Summer</a>

  </div>
