.general-account-settings {
    background-color: white;
}

#pageTitle {
    font-size: 35px;
}

.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.username {
    font-weight: 500;
    font-size: 25px;
}

.selectImageButton {
    color: #00ACEE;
    font-weight: 500;
    font-size: 20px;
}

.inputField {
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    height: 50px;
    font-weight: 400;
    color: black;
}

.selectGender {
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    height: 50px;
    font-weight: 400;
    color: black;
}

#submit {
    height: 40px;
    width: 80px;
}

#introduceProfile {
    width: 577.25px;
    height: 100px;
}

#inputFirstName, #inputLastName, #inputEmail {
    display: inline-block;
}