<div class="notification h-100 px-0 text-center">
  <h1>Notifications</h1>

  <!-- On website -->
  <div class="blocknote row">
    <div class="text col-10">
      <h2>On website</h2>
      <p>Pick which notificatonns to see while in the app or on the site</p>
    </div>
    <div class="col-2">
      <label class="switch" style=" position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
        <input type="checkbox" checked>
        <span></span>
      </label>


    </div>
  </div>

  <!-- By Email -->
  <div class="blocknote row">
    <div class="text col-10">
      <h2>By Email</h2>
      <p>Pick which notifications to get by email</p>
    </div>
    <div class="col-2">
      <label class="switch" style=" position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
        <input type="checkbox" checked>
        <span></span>
      </label>


    </div>
  </div>

  <!-- By push notification -->
  <div class="blocknote row">
    <div class="text col-10">
      <h2>By push notification</h2>
      <p>Pick which notifications to get on your computer</p>
    </div>
    <div class="col-2">
      <label class="switch" style=" position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
        <input type="checkbox" checked>
        <span></span>
      </label>


    </div>
  </div>
