.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: gray;
    padding: 15px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    color: black;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    color: black;
  }