<div class="container-fluid h-100">
  <div class="row justify-content-end h-100">
    <div class="col-6">
      <div class="sidebar h-100 text-center">
        <a [class]="isHover?'fas fa-arrow-left fa-2x':'far fa-arrow-left fa-2x'" href="#" (mouseout)="isHover=!isHover"
          (mouseover)="isHover=!isHover">
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="sidebar h-100 text-center">
        <a class="fas fa-user float-left" [class.active]="buttonStatus[0]"
          [href]="URL[0]">Account Settings</a>
        <a class="fas fa-bell float-left" [class.active]="buttonStatus[1]"
        [href]="URL[1]">Notifications</a>
        <a class="fas fa-shield float-left" [class.active]="buttonStatus[2]"
        [href]="URL[2]">Security</a>
      </div>
    </div>
  </div>
</div>