<div class="user-images">
  <div class="container-fluid">
    <div class="row px-0 justify-content-center">
      <div class="col">
        <!-- Modal -->
        <div
          class="modal fade"
          id="full-image-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="full-image=-entered"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg px-0" role="document">
            <div class="modal-content mx-0">
              <div class="modal-header">
                <h5 class="modal-title" id="full-image-title">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="image-modal" #fullimage [src]="fullImageSource" alt="" (load)="ResizeImage()" />
              </div>
              <div class="modal-footer">
                footer
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <div id="user">
      <div class="row px-0 justify-content-center">
        <img class="rounded-circle" id="avatar" src="{{ datas.users.avatar }}" alt="" />
      </div>

      <div class="row px-0 justify-content-center">
        <h1 id="name">{{ datas.users.username }}</h1>
      </div>

      <div id="box" *ngIf="userId != idPersonal">
        <div id="box-follow">
          <ng-container *ngIf="datas.analytics.isFollowed; else elseTemplate">
            <div id="box-following" (click)="onSelectUnFollow()">
              <button class="btn btn-light btn-sm">Following</button>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div id="box-follow1" (click)="onSelectFollow()">
              <button class="btn btn-primary btn-sm">Follow</button>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="row px-0 justify-content-center">
        <p id="follow" [(ngModel)]="followers">
          <span class="followww"> {{ followers }} </span> Followers -
          <span class="followww"> {{ datas.analytics.followings }} </span> Following
        </p>
      </div>
    </div>
    <br /><br />

    <div class="row px-0 justify-content-center" id="gallery">
      <div *ngFor="let columImage of imagesByColumn; let i = index">
        <div class="col-2 mx-0 px-2 py-2" *ngFor="let image of imagesByColumn[i]">
          <app-image (viewImage)="ShowFullImage($event)" [source]="image" [isOwner]="isOwner"></app-image>
        </div>
      </div>
    </div>
  </div>
</div>
