.modal-content {
  margin: auto;
  width: 700px;
  height: 700px;
  border: 5px solid wheat;
  border-radius: 20px;
}

.modal-header, .modal-footer {
  background-color: white;
  margin: 0px;
  height: 50px;
}

.modal-body {
  background-color: black;
  margin: 0px;
}

.image-modal {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#avatar{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
#name{
  display: block;
  // margin-left: 105px;
}

#box-follow{
  width: 100px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  // box-sizing: content-box;
  // border: 1px solid black;
  margin-bottom: 12px;
  cursor: pointer;
}

.content{
  margin: 2px;
}

#box-following{
  // background-color: #98F950;
  border: 1px solid black;
}
#box-following:hover{
  background-color: #E1D4D4;
}
#box-following:active{
  background-color: #F95050;
  color: white;
  // border: 1px solid black;
}

#box-follow1{
  background-color: #4390C2;
  border: 1px solid black;
  color: white;
}
#box-follow1:hover{
  background-color:  #2B6992;
}
#box-follow1:active{
  background-color: #2B6992;
  color: black;
  // border: 1px solid black;
}
#box{
  position: absolute;
  top: 301px;
  left: 895px;
}
.followww{
  font-weight: bold;
  font-size: 20px;
}